/.phpunit.cache
/node_modules
/docker
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env-docker
.phpunit.result.cache
docker-compose.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
/.fleet
/.idea
/.vscode
rr
.rr.yaml
