/* Add base selectors here */
html {
  scroll-behavior: smooth;
}

.beams {
  background-image: url('/storage/img/hero-light.jpg');
  @apply bg-opacity-10 bg-cover bg-left-top;
}

.dark.beams,
.dark .beams {
  background-image: url('/storage/img/hero-dark.jpg');
}

.stickyHeader {
  @apply shadow-md transition-all duration-200;
  @apply bg-opacity-30 backdrop-blur-lg backdrop-filter !important;
}

.wrapper {
  @apply mx-auto w-full max-w-full md:px-6 2xl:max-w-screen-2xl;
}

:root {
  --shiki-color-text: #c8d3f5;
  --shiki-color-background: #222436;

  --shiki-token-constant: #ff966c;
  --shiki-token-string: #c3e88d;
  --shiki-token-comment: #7a88cf;
  --shiki-token-keyword: #82aaff;
  --shiki-token-parameter: #c8d3f5;
  --shiki-token-function: #65bcff;
  --shiki-token-string-expression: #ff757f;
  --shiki-token-punctuation: #c8d3f5;
  --shiki-token-link: #c8d3f5;
}

html.dark {
  --shiki-color-text: #c8d3f5;
  --shiki-color-background: #1e293b;

  --shiki-token-constant: #ff966c;
  --shiki-token-string: #c3e88d;
  --shiki-token-comment: #7a88cf;
  --shiki-token-keyword: #82aaff;
  --shiki-token-parameter: #c8d3f5;
  --shiki-token-function: #65bcff;
  --shiki-token-string-expression: #ff757f;
  --shiki-token-punctuation: #c8d3f5;
  --shiki-token-link: #c8d3f5;
}
