/* add component selectors here */
@import 'components/choices.css';
@import 'components/filepond.css';
@import 'components/flatpickr.css';

sup {
  font-size: 0.5rem;
  font-weight: 700;
  top: -1rem;
}

.breadcrumbs {
  li {
    @apply h-4 text-sm;

    a {
      @apply text-blue-500 dark:text-gray-100;

      &:hover {
        @apply text-orange-500;
      }
    }

    &:after {
      content: '/';
      @apply mx-2;
    }

    &:last-child:after {
      content: '';
    }

    &.last {
      @apply font-medium text-opacity-75 dark:text-gray-500;
    }
  }
}

.form-label {
  @apply mb-3 hidden select-none text-sm font-semibold text-gray-700 sm:block;

  &.required :after {
    content: '*';
    @apply ml-1 font-semibold text-red-600;
  }
}

.form-input,
.form-textarea,
.form-select {
  @apply relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 font-medium text-gray-900 dark:border-gray-600 dark:bg-gray-500 dark:text-gray-100;

  &:focus,
  &.focus {
    @apply z-10 border-blue-300 outline-none;
    box-shadow: 0 0 0 1px theme('colors.blue.500');
  }

  &::placeholder {
    @apply font-medium text-gray-500;
  }

  @apply sm:text-sm sm:leading-5;
}
.ui {
  .form-input,
  .form-textarea,
  .form-select {
    &:focus,
    &.focus {
      @apply z-10 border-blue-700 font-medium outline-none;
      box-shadow: 0 0 0 1px theme('colors.blue.700');
    }
  }

  .btn-blue {
    @apply whitespace-nowrap rounded bg-blue-700 px-6 py-3 text-sm font-medium uppercase text-white shadow-lg;

    &:hover,
    &:focus {
      @apply bg-orange-500;
    }
  }
}

.form-select {
  @apply pr-6;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-size: 0.7rem;
  background-repeat: no-repeat;
  background-position: right 0.7rem center;

  &::-ms-expand {
    @apply opacity-0;
  }
}

.form-error {
  @apply mt-2 text-sm text-red-700;
}

.form-input.error,
.form-textarea.error,
.form-select.error {
  @apply border-red-600 font-medium;

  &:focus {
    box-shadow: 0 0 0 1px theme('colors.red.600');
  }
}

.btn {
  @apply inline-flex cursor-pointer items-center whitespace-nowrap rounded-full px-5 py-2 text-xs font-semibold uppercase transition-all focus:outline-none focus:ring-2 focus:ring-offset-2;

  &.primary {
    @apply bg-orange-500 text-white hover:bg-blue-500 focus:bg-orange-500 focus:ring-orange-600;
  }

  &.info {
    @apply bg-sky-500 text-white hover:bg-sky-700 focus:bg-sky-700 focus:ring-sky-700;
  }

  &.success {
    @apply bg-green-600 text-white hover:bg-green-700 focus:bg-green-700 focus:ring-green-700;
  }

  &.error {
    @apply bg-red-600 text-white hover:bg-red-700 focus:bg-red-700 focus:ring-red-700;
  }

  &.warning {
    @apply bg-yellow-600 text-white hover:bg-yellow-700 focus:bg-yellow-700 focus:ring-yellow-700;
  }

  &.default {
    @apply bg-slate-500 text-white hover:bg-slate-600 focus:bg-slate-600 focus:ring-slate-400 dark:bg-slate-700 dark:hover:bg-gray-800;
  }

  &.group-left {
    @apply relative inline-flex rounded-r-none;
  }

  &.group-middle {
    @apply relative -ml-[1px] inline-flex rounded-none pr-[11px];
  }

  &.group-right {
    @apply relative -ml-[1px] inline-flex rounded-l-none;
  }
}

.btn[disabled],
.btn .disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn-sm {
  @apply flex cursor-pointer items-center whitespace-nowrap rounded py-1 px-2 text-sm font-medium uppercase leading-none transition-all focus:outline-none focus:ring-0;

  &.primary {
    @apply bg-violet-600 text-white hover:bg-orange-500 focus:bg-orange-500;
  }

  &.success {
    @apply bg-green-600 text-white hover:bg-green-700 focus:bg-green-700;
  }

  &.error {
    @apply bg-red-600 text-white hover:bg-red-700 focus:bg-red-700;
  }

  &.info {
    @apply bg-sky-600 text-white hover:bg-sky-700 focus:bg-sky-700;
  }

  &.warning {
    @apply bg-yellow-500 text-white hover:bg-yellow-600 focus:bg-yellow-600;
  }

  &.default {
    @apply bg-slate-500 text-white hover:bg-slate-600 focus:bg-slate-600;
  }

  &.group-left {
    @apply relative inline-flex rounded-r-none;
  }

  &.group-middle {
    @apply relative -ml-[1px] inline-flex rounded-none pr-2;
  }

  &.group-right {
    @apply relative -ml-[1px] inline-flex rounded-l-none;
  }
}

.btn-sm[disabled],
.btn-sm .disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn-submit {
  @apply whitespace-nowrap rounded-full bg-gradient-to-tr from-blue-500 to-orange-700 px-5 py-2 text-sm font-semibold uppercase text-white shadow-lg;

  &:hover,
  &:focus {
    @apply bg-gradient-to-tr from-orange-600 to-red-600;
  }
}

.btn-cancel {
  @apply text-sm font-medium uppercase text-gray-500 transition duration-150 ease-in-out;

  &:hover,
  &:focus {
    @apply text-red-700;
  }
}

.btn-delete {
  @apply text-sm font-medium uppercase text-red-700 transition duration-150 ease-in-out;

  &:hover,
  &:focus {
    @apply text-gray-500;
  }
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

a {
  &:focus {
    @apply outline-none;
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vp-doc [class*='language-'] > button.copy {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: rgba(125, 125, 125, 0.04);
  opacity: 0;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgc3Ryb2tlPSJyZ2JhKDEyOCwxMjgsMTI4LDEpIiBzdHJva2Utd2lkdGg9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNOSA1SDdhMiAyIDAgMCAwLTIgMnYxMmEyIDIgMCAwIDAgMiAyaDEwYTIgMiAwIDAgMCAyLTJWN2EyIDIgMCAwIDAtMi0yaC0yTTkgNWEyIDIgMCAwIDAgMiAyaDJhMiAyIDAgMCAwIDItMk05IDVhMiAyIDAgMCAxIDItMmgyYTIgMiAwIDAgMSAyIDIiLz48L3N2Zz4=);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: opacity 0.4s;
}

.markdown-body {
  @apply text-gray-900 dark:text-gray-100;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 dark:text-gray-100;
  }

  h1 {
    @apply font-light leading-tight;
  }

  p {
    @apply text-gray-700 dark:text-gray-500;
  }
}

.docs {
  pre:not(.shiki) {
    @apply bg-transparent p-0;
  }
}
